.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 60vh;
  }
  
  .intro-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .intro-subtitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .intro-languages {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .intro-language {
    font-family: 'Cascadia Code', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .intro-language:hover {
    color: #ff6600;
  }
  
  .intro-button {
    background-color: #ff6600;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    width:170px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
  }
  
  .intro-button:hover {
    background-color: #fff;
    color: #ff6600;
  }

  .intro-subtitle-container {
    width: 50%;
  }
  
  .intro-cursor {
    display: inline-block;
    position: absolute;
    width: 2.5px;
    height: 1.4em;
    background-color: yellow;
    margin-left: 2px;
    animation: cursor-blink 1s infinite;
  }
  /* animation that will cause cursor to blink on and off every second */
  @keyframes cursor-blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .intro-submessage {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cascadia Code', monospace;

  }
  
  .intro-subcontainer {
    background-color: #1a1c2c;
    color:rgb(240, 231, 231);
    width:50%;
    padding:0px 0px 20px 0px;
    border-radius:10px;
  }
  .intro-subcontainer:hover {
    background-color: black;
    color:white;
  }
  